body {
  margin: 0;
}

.App {
  border: solid 1px #000;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

.error {
  border: 1px solid red;
  color: red;
  font-weight: bold;
}

.num {
  flex-basis: 25%;
}

.num input {
  box-sizing: border-box;
  width: 100%;
}

@media all and (max-width: 719px) {
  .num {
    flex-basis: 50%;
  }
}

@media all and (max-width: 359px) {
  .App {
    flex-direction: column;
  }

  .num {
    flex-basis: 100%;
  }
}
